@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Nixie+One&display=swap');

* {
  font-family: 'Montserrat', sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 500;
  overflow-x: hidden;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: 500;
}

@media (min-width:500px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

.btn {
  color: #FFFFFF;
  background-color: #f6f0eb !important; 
  margin: 2.5px; 
  }

 /* BUTTON FOR PROJECTS  */  
.custom-btn {
      width: 80px;
      height: 40px;
      color: #000;
      border-radius: 8px;
      padding: 10px 10px;     
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 10px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
      margin: 5px;     
      text-decoration: none; 
    }
 
.btn-projects {
  background-color: #dfcac1;
  background-image: linear-gradient(35deg, #f6f0eb 0%, #dfcac1 50%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-projects span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.btn-projects:before,
.btn-projects:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #dfcac1;  
  transition: all 0.3s ease;
}

.btn-projects:before{
   height: 0%;
   width: 2px;
}

.btn-projects:after {
  width: 0%;
  height: 2px;
}

.btn-projects:hover:before {
  height: 100%;
}

.btn-projects:hover:after {
  width: 100%;
}

.btn-projects:hover{
  background: transparent;
}

.btn-projects span:hover{
  color: #dfcac1;
}

.btn-projects span:before,
.btn-projects span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #dfcac1;
  transition: all 0.3s ease;
}

.btn-projects span:before {
  width: 2px;
  height: 0%;
}

.btn-projects span:after {
  height: 2px;
  width: 0%;
}

.btn-projects span:hover:before {
  height: 100%;
}

.btn-projects span:hover:after {
  width: 100%;
}


 /* BUTTON FOR SKILLS  */  
 .custom-btn-skills {
  width: 140px;
  height: 40px;
  color: #000;
  border-radius: 8px;
  padding: 10px 10px;     
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   5px 5px 9px 0px rgba(0,0,0,.1),
   3px 3px 4px 0px rgba(0,0,0,.1);
  outline: none;
  margin: 8px;  
  margin-bottom: 35px;   
  text-decoration: none; 
}

.btn-skills {
background-color: #dfcac1;
background-image: linear-gradient(35deg, #f6f0eb 0%, #dfcac1 50%);
line-height: 42px;
padding: 0;
border: none;
}

.btn-skills span {
position: relative;
display: block;
width: 100%;
height: 100%;
text-align: center;
}

.btn-skills:before,
.btn-skills after {
position: absolute;
content: "";
right: 0;
bottom: 0;
background: #dfcac1;
transition: all 0.3s ease;
}

.btn-skills:before{
height: 0%;
width: 2px;
}

.btn-skills:after {
width: 0%;
height: 2px;
}

.btn-skills:hover:before {
height: 100%;
}

.btn-skills:hover:after {
width: 100%;
}

.btn-skills:hover{
background: transparent;
}

.btn-skills span:hover{
color: #dfcac1;
}

.btn-skills span:before,
.btn-skills span:after {
position: absolute;
content: "";
left: 0;
top: 0;
background: #dfcac1;
transition: all 0.3s ease;
}

.btn-skills span:before {
width: 2px;
height: 0%;
}

.btn-skills span:after {
height: 2px;
width: 0%;
}

.btn-skills span:hover:before {
height: 100%;
}

.btn-skills span:hover:after {
width: 100%;
}


/* NAVBAR */
nav.navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999; 
  transition:  0.5s ease-in-out;  
}

nav.navbar.scrolled {
  padding: 0px;  
  background-color: #f6f0eb; 
  opacity: 1; 
  font-weight: 600;
}

nav.navbar .navbar-nav .nav-link .navbar-link {
  font-weight: 600;
  letter-spacing: 0.9px;
  padding: 0 25px;
  font-size: 32px;  
  color: #000 !important; 
  opacity: .7; 
}

nav.navbar .navbar-nav a.nav-link .navbar-link:hover,
nav.navbar .navbar-nav a.nav-link .navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 16px;
}

.social-icon a { 
  display: inline-flex;
  margin-right: 6px;
  align-items: center;
  justify-content: center; 
}

.social-icon a::before { 
  content: "";
  position: absolute;
  transform: scale(0);
  transition: 1s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img { 
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}


/* BANNER */
.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;   
}

.banner-logo {
  width: 55%;
  margin-bottom: 20px;
}

.banner p {
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 90%;
}

.banner-img {
  animation: updown 5s linear infinite;
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width:600px) {
  .banner-img {
    width: 40%;
  }
}

@keyframes updown {
  0% {
      transform: translateY(-10px);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(-10px);
  }
}
.txt-rotate > .wrap {
border-right: 0.08em solid #666;
}


/* ABOUT SECTION */
/* ABOUT BROSWER BORDER */
.about {
  margin-top: 0;
  text-align: center;  
  flex-wrap: wrap;
  margin: 20px 60px;
  padding: 5px;
  border: 3px solid #dfcac1;
  border-radius: .8%;
  margin-bottom: 80px;  
}
.about-span {
  display: block;
  margin-left: 7px;
  margin-top: auto;
  width: 2%;
  float: right;
}

.about h4 {  
  border-bottom: 3px solid #dfcac1;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;  
  color: #fff;
}

.about h5 {  
  margin: 5px 0px;
  padding: 5px;
  text-align: center;  
  color: #000;
}

.about-pic { 
  width: 20%; 
  margin: 2px;
}

.about-image { 
  width: 45%;
  border: 3px solid #dfcac1;
  margin-bottom: 30px;
}

@media only screen and (max-width:600px) {
  .about-pic  {
    width: 60%;
  }
  .about-image  {
    width: 100%;
  }
}


/* EXPERIENCE SECTION */
/* EXPERIENCE BROWSER BORDER */
.experience {
  margin-top: 0;
  text-align: center;  
  flex-wrap: wrap;
  margin: 20px 60px;
  padding: 5px; 
  border: 3px solid #dfcac1;
  border-radius: .8%;
  margin-bottom: 50px;
}
/* BROWSER images */
.experience h4 {  
  border-bottom: 3px solid #dfcac1;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;  
  color: #fff;
}

/* TIMELINE */
.timeline {
  line-height: 1.5em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* TIMELINE TITLE */
.timelineMAIN-title {
  text-align: center;
  margin-bottom: 10px;
  padding: 2em 0;
}

/* TIMELINE ITEM */
.timeline-item {
  padding-left: 30px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

/* TIMELINE INFO */
/* DATE */
.timeline-info {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .5px;
  margin: 0 0 .5em 0; 
  white-space: nowrap;
  color: #000;
}

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35px;
}

.timeline-marker:before {
  background: #dfcac1;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: 0.5s ease-in-out, border 0.5s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #000;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #dfcac1;
}

/* TIMELINE CONTENT */
.timeline-content {
  padding-bottom: 30px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/* TIMELINE CENTERED */
@media (min-width: 992px) {
  .timeline-centered, .timeline-centered .timeline-item, .timeline-centered .timeline-info, .timeline-centered .timeline-marker, .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  /* EXPERIENCE ITEM HEIGHT*/
  .timeline-centered .timeline-item {
    padding-bottom: 70px;
    overflow: hidden;
  }

  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }

  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
 
.timeline-centered > .timeline-item .timeline-info {
  float: left;
  text-align: right;
  padding-right: 30px;
}
.timeline-centered > .timeline-item .timeline-content {
  float: right;
  text-align: left;
  padding-left: 30px;
}

.timeline-centered > .timeline-item.period .timeline-content {
  float: none;
  padding: 0;
  width: 100%;
  text-align: center;
}
.timeline-centered .timeline-item.period {
  padding: 50px 0 90px;
}
.timeline-centered .period .timeline-marker:after {
  height: 30px;
  bottom: 0;
  top: auto;
}
.timeline-centered .period .timeline-title {
  left: auto;
}
}


/* PROJECTS */
.projects { 
  margin: 50px;    
}

.projects-container { 
  margin: 10px;    
}

.projects h1 { 
  text-align: center;  
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 1;
  margin: 20px 0px;
  display: block;
}

.projects p {     
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 1; 
  position: relative;
}

.iframes {
  position: relative;  
  width: 90%; 
  height: 90%; 
  margin: 20px 5px;
  padding: 5px;
}

@media only screen and (max-width:600px) {
 .iframes {
    width: 40%;
    margin: 20px 0px;
    padding: 0px;
  }
}

/* FOOTER */
.footer {
  background-color: #dfcac1;
  margin: 0px;
}

.footer p {
  text-align: center;
  font-weight: 600;
  margin: 10px 5px;
}

.social-icon-footer {
  margin: 5px;
  text-align: center;
}

.social-icon-footer a { 
  display: inline-block;
  margin: 5px;
}

.social-icon-footer a img { 
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon-footer a::before { 
  content: "";
  position: absolute;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon-footer a:hover::before {
  transform: scale(1);
}

.social-icon-footer a img { 
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon-footer a:hover img {
  filter: brightness(0) saturate(10%) invert(0%) sepia(7%) saturate(10%) hue-rotate(346deg) brightness(5%) contrast(6%);
}







